<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>YiDongJiFei</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.YiDong.web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewCustomerServlet</servlet-name>
		<servlet-class>com.YiDong.web.NewCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewCustomerServlet</servlet-name>
		<url-pattern>/NewCustomer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewCustomer1Servlet</servlet-name>
		<servlet-class>com.YiDong.web.NewCustomer1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewCustomer1Servlet</servlet-name>
		<url-pattern>/NewCustomer1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.YiDong.web.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/Resource</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewUserServlet</servlet-name>
		<servlet-class>com.YiDong.web.NewUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewUserServlet</servlet-name>
		<url-pattern>/NewUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.YiDong.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
</web-app>